body{
    display: flex;
    justify-content: center;
    background-color: rgb(242, 245, 250);
}

main{
    font-family: "Lohit_Devanagari", sans-serif;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 100vh;
}

.first_column{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 39vw;
    height: 170px;
}

.profile_img{
    width: 170px;
    height: 168px;
}

.profile_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile_text_name{
    font-size: 36px;
}

.profile_text_date{
    font-size: 22px;
    text-decoration-color: gray;
}

.finances{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 39vw;
    height: 300px;
}

.finances_card{
    background-color: rgb(242, 245, 250);
    border-radius: 20px 20px 20px 20px;
    width: 26vw;
    height: 250px;
}

.finances_card_top{
    display: flex;
    align-content: center;
}

.ruble_symbol_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: #F9F9F9;
}

.finances_card_top_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.balance_card{
    font-size: 24px;
}

.amount_rubles{
    font-size: 28px;
}

.replenish{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.terms_conditions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.conditions_of{
    background-color: rgb(242, 245, 250);
    border-radius: 20px 20px 20px 20px;
    width: 25vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.second_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 300px;
}

.history_of_orders{
    background-color: rgb(242, 245, 250);
    border-radius: 20px 20px 20px 20px;
    width: 40vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}