.card {

    width: 15vw;
    height: 41vh;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 5px 5px;
    color: blue;
}

.image {
    width: 300px;
    min-height: 300px;
    /*width: auto;*/
    /*height: auto;*/
    /*max-height: 31vh;*/

}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    padding-bottom: 10px;
    gap: 10px;
}

.information_sub{
    display: flex;
    gap: 20px;
}

.cost{
    color: #F81155;
    margin-top: 20px;
    font-size: 1.5em;
}

.product_name{
    font-size: 1.5em;
}

.small_ico{
    width: 23px;
    height: 23px;
}

.comments_rating{
    display: flex;
    gap: 5px;
}

.comments_text{
    color: #99A3AE;
}