.container{
    display: flex;
    justify-content: center;
    font-family: "Lohit_Devanagari", sans-serif;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 10vh;
    border-radius: 0 0 20px 20px;
}

.logo{
    display: flex;
    width: 18vw;
}

.logo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1em;
}

.MarketTeam{
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.block_MarketTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search_block{
    display: flex;
    justify-content: center;
    width: 26vw;
}

.CartOrdersProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}

.block_OrdersCartProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.svg_big{
    margin-bottom: 30px;
    width: 8vw;
    height: 13vh;
}

.p_lower{
    font-size: 0.9em;
    text-align: left;
}

p{
    text-align: center;
    font-size: 1.3em;
    color: black;
}

.link {
    text-decoration: none;
}

.small_icons{
    /*width: 36px;*/
    /*height: 36px;*/
    width: 2vw;
    height: 2vw;
}

.profile_icon{
    width: 50px;
    height: 50px;
}

/*and (width: 2880px) and (height: 1620px) and*/

@media screen and (min-resolution: 2dppx){
    p{
        font-size: 1em;
    }
    /*.small_icons{*/
    /*    width: 3vw;*/
    /*    height: 16px;*/
    /*}*/
}