.container{
    background-color: rgb(242, 245, 250) ;
}

.navbar{
    display: flex;
    justify-content: center;
    /*border-left-width: 20px;*/
    border-radius: 20px 20px 0 0;
}

.block_left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
    background-color: #fff;
    border-radius: 0 0 0 20px;
    width: 125px;
    height: 100px;
}

.logo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    background-color: #fff;
    width: 125px;
    height: 100px;
}

.block_Market{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    width: 175px;
    height: 100px;
}

.block_Team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #fff;
    width: 175px;
    height: 100px;
}

.search_block{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    padding: 16px;
    background-color: #fff;
    width: 500px;
}

.block_OrdersCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    width: 90px;
    height: 100px;
}

.block_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 50px;
    background-color: #fff;
    border-radius: 0 0 20px;
    width: 140px;
    height: 100px;
}

.svg_small{
    width: 32px;
    height: 32px;
}

.svg_medium{
    width: 38px;
    height: 38px;
}

.svg_big{
    width: 130px;
    height: 90px;
}

span {
    font-family: "Lohit_Devanagari", sans-serif;
    /*text-decoration-color: yellow;*/
    font-size: 10px;
    text-align: left;
}

p{
    font-family: "Lohit_Devanagari", sans-serif;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 16px;
    color: black;
}

.link {
    text-decoration: none;
}


